.desktop-frame {
    width: 1920px;
    height: 1117px;
    background-color: #0F2427;
    position: relative;
    top: 52px;
}

#logo {
    width: 543px;
    height: 232px;
    position: absolute;
    top: 52px;
    left: 130px;
    border-bottom: 836px;
    border-left: 118px;
}

.main-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    position: absolute;
    top: 200px;
    left: 142px;
    width: 1183px;
    height: 573px;
    color: #FFFFFF;
    padding: 20px;
}

.heading-subheading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 1183px;
    height: 387px;
}

.heading-subheading h2 {
    width: 990px;
    height: 300px;
    font-family: Poppins;
    font-size: 128px;
    font-weight: 700;
    line-height: 150px;
    letter-spacing: 0em;
    text-align: left;
}

.heading-subheading p {
    width: 1183px;
    height: 72px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -115px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 1183px;
    height: auto;
    margin-top: 50px;
}

.contact-details p:first-child {
    width: 186px;
    height: 36px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -50;
}

.contact-details p:nth-child(2) {
    width: 294px;
    height: 36px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -40px;
}

.social-media-icons {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 175px;
    height: 34px;
    margin-top: -30px;
}

.social-media-icons img {
    width: 34px;
    height: 34px;
}

.sidebar-content {
    display: flex;
    width: 485px;
    height: 1117px;
    padding: 0px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    column-gap: 5px;
    flex-shrink: 0;
    background: #0099BC;
    color: white;
    position: absolute;
    left: 1435px;
}

.sidebar-content p:first-child {
    width: 430px;
    height: 80px;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    
}

.sidebar-content p:nth-child(2) {
    width: 313px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: -30px;
    color: #FFFFFFCC;
}

.footer {
    display: flex;
    width: 1240px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1054px;
    left: 142px;
    color: #FFFFFFCC;
}

.footer p:first-child {
    width: 241px;
    height: 30px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}

.footer p:nth-child(2) {
    width: 539px;
    height: 30px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobile-frame {
    width: 430px;
    height: 1409px;
    background-color: #0F2427;
    position: absolute;
    margin: 20px auto;
    top:40px;
    left: 2100px;
}

#mobile-logo {
    width: 235px;
    height: 100px;
    position: absolute;
    border-top: 836px;
    border-left: 118px;
    flex-shrink: 0;
    top: 63px;
    left: 98px;
}

.mobile-main-content {
    display: flex;
    width: 395px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: #FFFFFF;
    height: 412px;
    top: 259px;
    left: 18px;
  }

  .mobile-heading-subheading {
    display: flex;
    width: 396px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    height: 246px;
  }

  .mobile-heading-subheading h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 341px;
    height: 144px;
    margin-left: 20px;
    margin-top: 200px;
  }

  .mobile-heading-subheading p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 360px;
    height: 144px;
    margin-left: 25px;
    margin-top: -30px;
  }
  
  .mobile-contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    width: 159px;
    height: 86px;
  }

  .mobile-contact-details p {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 186px;
    height: 36px;
    margin-left: 85px;
    margin-top: 200px;
  }
  
  .mobile-contact-details p:nth-child(2) {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 260px;
    height: 36px;
    margin-left: 110px;
    margin-top: -15px;
  }

  .mobile-social-media-icons {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: #FFFFFF;
    width: 175px;
    height: 34px;
    gap: 20px;
    margin-left: 55px;
  }

  .mobile-sidebar-content {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 330px;
    height: 527px;
    padding: 0px 50px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
    background: #0099BC;
    color: #FFFFFF;
  }

  .mobile-sidebar-content p:first-child {
    color: #FFFFFF;
    text-align: left;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 400px;
    height: 144px;
    margin-top: 1000px;
  }

  .mobile-sidebar-content p:nth-child(2) {
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 313px;
    height: 144px;
    margin-top: auto;
  }
  

  .mobile-footer {
    display: flex;
    width: 286px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #FFFFFFCC;
    width: 286px;
    height: 30px;
    margin-top: 400px;
  }

  .mobile-footer .footer-item:nth-child(1) {
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 121px;
    height: 15px;
  }
  
  .mobile-footer .footer-item:nth-child(2) {
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 270px;
    height: 15px;
  }
  
  
  
  




  
  
  
  

